* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";

}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.card {

    border-radius: 10px;
    background-color: #2C2C2C;
    overflow: hidden;
    margin: 20px;
    margin-right: 75px;
}

.card-header {
    margin-top: 3px;
    display: flex;
    align-items: start;
    padding: 10px;
    color: gray;
    font-size: 14px;
}

.card-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.card-content {
    width: 20vw;
    flex-grow: 1;
    color: rgb(226, 226, 226);
}

.card-content h3 {
    margin: 0;
}

.card-button {
    background-color: #949494;
    color: #2C2C2C;
    border: none;
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 5px;
    cursor: pointer;
}

#containerflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 10px;
}

#containerflex div {
    display: inline-block;
}

#containerflex h1 {
    margin: 0;
    font-size: 73px;
}

#containerflex h1:first-child {
    margin-bottom: 5px;
}

#containerflex h1:last-child {
    font-size: 116px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 3px white;

}



.card-footer {
    padding-top: 7px;
    font-size: 14px;
    color: white;
    font-family: "gilroy-medium";
    padding-left: 10px;
    padding-bottom: 10px;
}

.card-footer p {
    font-family: "gilroy-medium";
}

.card-footer2 {
    color: rgb(148, 148, 145);
    padding-top: 0;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 18px;
}

#fontsize {
    font-size: 13px;
}

#container {

    color: white;
}

#fontslim {

    font-weight: 100;
    width: 100%;
}


@media (max-width:460px) {
    #containerflex h1 {
        font-size: 57px;
    }

    #containerflex h1:last-child {
        font-size: 90px;
        font-family: "gilroy-medium";

        -webkit-text-stroke: 3px white;
    }

}

@media (max-width:400px) {
    #containerflex h1 {
        font-size: 47px;
    }

    #containerflex h1:last-child {
        font-size: 90px;
        font-family: "gilroy-medium";
        -webkit-text-stroke: 3px white;
    }

}